.form {
    position: relative;
    padding-top: 54px;
    padding-bottom: 36px;
    &_title {
        margin: 0 auto;
        text-align: center;
        width: 1035px;
        padding-left: 20px;

        h4 {
            font-size: 21px;
            letter-spacing: 1px;
            line-height: 46px;
            color: #000000;
            font-weight: 700;
            font-family: "Montserrat";
            margin: 0;
            transform: translate(-10px, 26px);
        }

        h1 {
            font-size: 50px;
            letter-spacing: 3px;
            line-height: 46px;
            color: #000000;
            font-weight: 400;
            font-family: "Fredericka the Great";
            transform: translate(-7px, -5px);

        }
    }

    &_form {
        display: flex;
        max-width: 1035px;
        width: 100%;
        margin: 0 auto;
        transform: translate(0px, 48px);
        padding-bottom: 85px;
        padding-left: 125px;
        padding-right: 100px;


        input {
            width: 379px;
            height: 65px;
            border-radius: 5px;
            background-color: rgba(235,174,76,0);
            border: 1px solid #bebebe;

            margin-bottom: 26px;
            margin-right: 26px;
            padding-left: 22px;
            font-size: 17px;
        }

        ::placeholder {
            font-size: 17px;
            line-height: 46px;
            color: #3d3d3d;
            font-weight: 400;
            font-family: "Montserrat";
        }

        button {
            width: 379px;
            height: 65px;
            border-radius: 5px;
            background-color: #ffe001;

            font-size: 21px;
            line-height: 46px;
            color: #000000;
            font-weight: 700;
            font-family: "Montserrat";
            // transform: translate(0px, -5px);
        }
    }
}