<div class="container-fulid discover">
    <div class="container">
        <div class="">
            <div class="discover_title">
                <h4>
                    DISCOVER
                </h4>
                <h1>
                    UPCOMING EVENTS
                </h1>
                <p>
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit
                    , sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua.
                    Quis ipsum suspendisse ultrices gravida.
                    Risus commodo viverra maecenas accumsan lacus vel facilisis.
                </p>
            </div>
            <div id="wrap">
                <div class="carousel-wrap">
                    <ul class="carousel">
                        <li class="items left-pos" id="1">
                            <img src="./assets/images/sliders/slider_o.jpg" alt="">
                        </li>
                        <li class="items main-pos" id="2">
                            <img src="./assets/images/sliders/slider_2.png" alt="">
                        </li>
                        <li class="items right-pos" id="3">
                            <img src="./assets/images/sliders/slider_th.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="discover_icon">
                <a class="btn_click 1" href="javascript:void(0);"></a>
                <a class="btn_click active 2"  href="javascript:void(0);"></a>
                <a class="btn_click 3"  href="javascript:void(0);"></a>
            </div>
        </div>
    </div>
</div>