<div class="container-fulid enjoy">
    <div class="container">
        <div class="">
            <div class="enjoy_title">
                <h1>
                    CHOOSE & ENJOY
                </h1>
                <p>
                    Lorem ipsum dolor sit amet,
                    consectetur adipiscing elit
                    , sed do eiusmod tempor incididunt
                    ut labore et dolore magna aliqua.
                    Quis ipsum suspendisse ultrices gravida.
                    Risus commodo viverra maecenas accumsan lacus vel facilisis.
                </p>
            </div>
            <div class="enjoy_product">
                <div class="line">

                </div>
                <div class="show_products">
                    <!-- ITEM PRODUCT -->
                    <div class="item_product">
                        <div class="item_img">
                            <img src="./assets/images/products/pro_1.png" alt="product">
                        </div>

                        <div class="item_text">
                            <h3>
                                LOREM IPSUM DOLOR
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit, sed do
                            </p>
                        </div>
                        <div class="item_btn">
                            <button class="btn">
                                ORDER NOW
                            </button>
                        </div>
                    </div>
                    <!-- ITEM PRODUCT -->
                    <div class="item_product">
                        <div class="item_img">
                            <img src="./assets/images/products/pro_2.png" alt="product">
                        </div>

                        <div class="item_text">
                            <h3>
                                LOREM IPSUM DOLOR
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit, sed do
                            </p>
                        </div>
                        <div class="item_btn">
                            <button class="btn">
                                ORDER NOW
                            </button>
                        </div>
                    </div>

                    <!-- ITEM PRODUCT -->
                    <div class="item_product">
                        <div class="item_img">
                            <img src="./assets/images/products/pro_3.png" alt="product">
                        </div>

                        <div class="item_text">
                            <h3>
                                LOREM IPSUM DOLOR
                            </h3>
                            <p>
                                Lorem ipsum dolor sit amet,
                                consectetur adipiscing elit, sed do
                            </p>
                        </div>
                        <div class="item_btn">
                            <button class="btn">
                                ORDER NOW
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>