<div class="container-fulid">
    <div class="container">
        <div class="footer">
            <div class="row row_one">
                <img src="./assets/images/logo_f.png" alt="">
            </div>
            <div class="row row_two">
                <div class="row_two_text">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viver ra maecenas
                        accumsan lacus vel facilisis.
                </div>

                <div class="location">
                    <div class="location_row">
                        <span>
                            <img src="./assets/images/icons/address.png" alt="">
                        </span>
                        <p>Main Road, Building Name, Country</p>
                    </div>
                    <div class="location_row">
                        <img src="./assets/images/icons/mail.png" alt="">
                        <a href="mailto:info@companyname.com">
                            info@companyname.com
                        </a>
                    </div>
                </div>
            </div>
            <div class="row_three">
                <div class="row_three_text">
                    <p>
                        © Company Name 2020. All rights reserved.
                    </p>
                </div>

                <div class="row_three_icon">
                    <a href="https://www.instagram.com/">
                        <img src="./assets/images/icons/ig.png" alt="">
                    </a>
                    <a href="https://www.facebook.com/">
                        <img src="./assets/images/icons/fb.png" alt="">
                    </a>
                    <a href="https://twitter.com/?lang=en">
                        <img src="./assets/images/icons/tw.png" alt="">
                    </a>
                    <a href="https://www.whatsapp.com/?lang=en">
                        <img src="./assets/images/icons/wa.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>