<div class="container-fulid">
    <div class="container">
        <div class="form">
            <div class="form_title">
                <h4>
                    RESERVATION
                </h4>
                <h1>
                   BOOK YOUR TABLE
                </h1>
            </div>
            <div class="form_form">
                <div class="form_form_left">
                    <input type="text" placeholder="Name">
                    <input type="text" placeholder="Date">
                    <input type="text" placeholder="Peple">
                </div>
    
                <div class="form_form_right">
                    <input type="text" placeholder="Email">
                    <input type="text" placeholder="Time">
                    <button class="btn">FIND A TABLE</button>
                </div>
            </div>
        </div>
    </div>
</div>