<div class="container-fulid">
    <div class="container">
        <div class="header">
            <div class="header_row_one">
                <div class="header_row_one_logo">
                    <a href="./index.html">
                        <img src="./assets/images/logo.png" alt="logo">
                    </a>
                </div>
    
                <!-- MENU -->
                <div class="parentMenu">
                    <a href="javascript:void(0);" class="icon_menu"  id="icon_menu_hide" onclick="openMenu()">
                        <i class="fa fa-2x fa-bars"></i>
                    </a>
                </div>
                <div class="header_row_one_contact">
                    <div class="text">
                        <h3>
                            EXPRESS DELIVERY
                        </h3>
                        <a href="tel:+1800 258 888">
                            1800 258 888
                        </a>
                    </div>
                    <div class="icon_phone">
                        <img src="./assets/images/icons/phone.png" alt="phone">
                    </div>
                </div>
                
            </div>
            <div class="header_row_two">
                
                <div id="navbar" class="header_row_two_nav responsive">
                    <ul>
                        <a href="#">
                            <li>
                                HOME
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                MENU
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                OUR STORY
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                CONTACT US
                            </li>
                        </a>
                    </ul>
    
                    <span href="javascript:void(0);" class="icon_close" onclick="closeMenu()">
                        <i class="fa fa-2x fa-close"></i>
                    </span>
                </div>
                
            </div>
        </div>
    </div>
</div>