<div class="container-fulid">
    <div class="container">
        <div class="popular">
            <div class="popular_one">
                <div class="img">
                    <img src="./assets/images/main/main_1.png" alt="popular">
                </div>
                <div class="text">
                    <h2>
                        TRY IT TODAY
                    </h2>
                    <h1>
                        MOST POPULAR PASTA
                    </h1>
                </div>
            </div>
            <div class="parent_two">
                <div class="popular_two">
                    <div class="img">
                        <img src="./assets/images/main/main_2.png" alt="popular">
                    </div>
                    <div class="text">
                        <h2>
                            TRY IT TODAY
                        </h2>
                        <h1>
                            MORE FUN
                            MORE TASTE
                        </h1>
                    </div>
                </div>
                <div class="popular_three">
                    <div class="img">
                        <img src="./assets/images/main/main_3.png" alt="popular">
                    </div>
                    <div class="text">
                        <h2>
                            TRY IT TODAY
                        </h2>
                        <h1>
                            FRESH & CHILI
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>